html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f4f5fa;
}

.srounded-m {
  border-radius: 13px !important;
}

.sshadow {
  box-shadow: 8px 21px 30px 0 #dfe7f447;
}

hr {
  background: #e7eaf0;
  height: 1px;
  border-radius: 0.5px;
}

.btn-modal-login {
  background: url(/icon/modal-login.png) no-repeat left center;
  background-size: 16px 16px !important;
}

.modal-backdrop {
  background-color: #244497;
}

.modal .modal-content {
  border-radius: 8px;
}
.modal .btn-login {
  background: url(/icon/login-with-email.png) no-repeat right center;
  background-size: 16px 16px !important;
  padding-right: 26px;
}

.add-passenger {
  border: 1px solid #dde2ee63;
  border-radius: 6px;
  height: 60px;
}
.add-passenger .increase {
  padding-right: 60px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  font-size: 2em;
  background: #244497;
}

@font-face {
  font-family: iransans-regular;
  src: url(/fonts/iransans-regular.woff);
}
@font-face {
  font-family: iransans-bold;
  src: url(/fonts/iransans-bold.woff);
}
.ir-r {
  font-family: iransans-regular !important;
}
.ir-b {
  font-family: iransans-bold !important;
}

.fs-s {
  font-size: 0.9em !important;
}
.fs-m {
  font-size: 1em !important;
}
.fs-l {
  font-size: 1.2em !important;
}

p.fs-s {
  font-size: 0.9em;
  line-height: 1.44em;
}
p.fs-m {
  font-size: 1em;
  line-height: 1.6em;
}
p.fs-l {
  font-size: 1.2em;
  line-height: 1.92em;
}

.c-dark {
  color: #202020 !important;
}
.c-grey {
  color: #a6a6a6 !important;
}
.c-warning {
  color: #fcb803 !important;
}
.c-success {
  color: #389d4e !important;
}
.c-primary {
  color: #244497 !important;
}

.btn-warning {
  color: #ffffff !important;
  background-color: #fcb803 !important;
  border-color: #fcb803 !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff !important;
  background-color: #f5b400 !important;
  border-color: #fcb803 !important;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none !important;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #fcb803 !important;
  border-color: #fcb803 !important;
}

.btn-warning .badge {
  color: #fcb803 !important;
  background-color: #ffffff !important;
}

.btn-outline-warning {
  color: #fcb803 !important;
  background-color: transparent !important;
  border-color: #fcb803 !important;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active,
.btn-outline-warning.active,
.open .dropdown-toggle.btn-outline-warning {
  color: #fcb803 !important;
  background-color: transparent !important;
  border-color: #fcb803 !important;
}

.btn-outline-warning:active,
.btn-outline-warning.active,
.open .dropdown-toggle.btn-outline-warning {
  background-image: none !important;
}

.btn-outline-warning.disabled,
.btn-outline-warning[disabled],
fieldset[disabled] .btn-outline-warning,
.btn-outline-warning.disabled:hover,
.btn-outline-warning[disabled]:hover,
fieldset[disabled] .btn-outline-warning:hover,
.btn-outline-warning.disabled:focus,
.btn-outline-warning[disabled]:focus,
fieldset[disabled] .btn-outline-warning:focus,
.btn-outline-warning.disabled:active,
.btn-outline-warning[disabled]:active,
fieldset[disabled] .btn-outline-warning:active,
.btn-outline-warning.disabled.active,
.btn-outline-warning[disabled].active,
fieldset[disabled] .btn-outline-warning.active {
  background-color: transparent !important;
  border-color: #fcb803 !important;
}

.btn-outline-warning .badge {
  color: transparent !important;
  background-color: #fcb803 !important;
}

.btn-success {
  color: #ffffff !important;
  background-color: #389d4e !important;
  border-color: #389d4e !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff !important;
  background-color: #389d4e !important;
  border-color: #389d4e !important;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none !important;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #389d4e !important;
  border-color: #389d4e !important;
}

.btn-success .badge {
  color: #389d4e !important;
  background-color: #ffffff !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #2449a0 !important;
  border-color: #2449a0 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff !important;
  background-color: #2449a0 !important;
  border-color: #2449a0 !important;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none !important;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2449a0 !important;
  border-color: #2449a0 !important;
}

.btn-primary .badge {
  color: #2449a0 !important;
  background-color: #ffffff !important;
}

.g-intro {
  min-height: 300px;
  background: linear-gradient(39deg, #143080, #2449a1);
}
.g-intro .header {
  background: linear-gradient(39deg, #143080, #2449a1);
}
.g-intro .header .phone {
  background: url(/icon/phone.png) no-repeat left center;
  background-size: 16px 16px !important;
  line-height: 56px;
  padding-left: 26px !important;
}
.g-intro .search-box {
  margin-top: 106px;
}
.g-intro .search-box .nav-link {
  transition: 0.3s;
  color: #9da7c0;
}
.g-intro .search-box .nav-link.active {
  color: #fff;
}
.g-intro .search-box .nav-link:focus {
  outline: 0;
}
.g-intro .search-box .content {
  border-radius: 8px;
}
.g-intro .search-box .f-label {
  color: #a6a6a6;
}
.g-intro .search-box .btn-search {
  background: url(/icon/search.png) no-repeat center;
  background-size: 19px 19px !important;
}

@media only screen and (max-width: 991.99px) {
  .g-intro .border-left {
    border-left: none !important;
  }
  .g-intro .btn-warning {
    height: 50px !important;
  }
}
@media only screen and (min-width: 992px) {
  .g-intro .border-left {
    border-left: 1px solid #dde2ee;
  }
}
.confirmation .steps .s-item,
.result .steps .s-item {
  background: #f0f0f0;
  height: 50px;
  border-radius: 25px;
  padding: 5px;
}
.confirmation .steps .s-item .num,
.result .steps .s-item .num {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  line-height: 40px;
}
.confirmation .steps .s-item .s-text,
.result .steps .s-item .s-text {
  color: #a6a6a6;
}
.confirmation .steps .s-item.active,
.result .steps .s-item.active {
  background: #224396;
}
.confirmation .steps .s-item.active .num,
.result .steps .s-item.active .num {
  color: #224396 !important;
}
.confirmation .steps .s-item.active .s-text,
.result .steps .s-item.active .s-text {
  color: #fff;
}
.confirmation .warning,
.result .warning {
  border: 1px solid #fcb803;
}
.confirmation .table-temp .header .icon,
.result .table-temp .header .icon {
  width: 44px;
  height: 44px;
  border-radius: 17px;
  box-shadow: 8px 21px 30px 0 #dfe7f447;
}
.confirmation .table-temp .header .texts,
.result .table-temp .header .texts {
  width: calc(100% - 54px);
}
.confirmation .table-temp .content .title,
.result .table-temp .content .title {
  width: 40px;
  height: 100%;
}
.confirmation .table-temp .content .title .t-text,
.result .table-temp .content .title .t-text {
  transform: rotate(90deg);
  color: #244497;
}
.confirmation .table-temp .content .table-content,
.result .table-temp .content .table-content {
  border: 1px solid #dde2ee;
  border-radius: 13px;
}
.confirmation .table-temp .content:not(.requester) .table-content,
.result .table-temp .content:not(.requester) .table-content {
  width: calc(100% - 40px);
}
.confirmation .table-temp.ticket-info .icon,
.result .table-temp.ticket-info .icon {
  background-size: 18px 17px !important;
  background: url(/icon/ticket-info.png) no-repeat center, #fff;
}
.confirmation .table-temp.requester .icon,
.result .table-temp.requester .icon {
  background-size: 15px 16px !important;
  background: url(/icon/person.png) no-repeat center, #fff;
}
.confirmation .table-temp.airplane-result .icon,
.result .table-temp.airplane-result .icon {
  background-size: 15px 15px !important;
  background: url(/icon/airplane-result.png) no-repeat center, #fff;
}
.confirmation .table-temp.airplane-result .days .date,
.result .table-temp.airplane-result .days .date {
  color: #8892aa !important;
  padding: 10px;
  background: #f2f6ff;
  border-radius: 10px 10px 0 10px;
}
.confirmation .table-temp.airplane-result .days.active,
.result .table-temp.airplane-result .days.active {
  background: #f6fff8 !important;
}
.confirmation .table-temp.airplane-result .days.active .price,
.result .table-temp.airplane-result .days.active .price {
  color: #59bc6f !important;
}
.confirmation .table-temp.airplane-result .days.active .date,
.result .table-temp.airplane-result .days.active .date {
  color: #fff !important;
  background: #59bc6f !important;
}
.confirmation .table-temp.airplane-result .days-btn,
.result .table-temp.airplane-result .days-btn {
  cursor: pointer;
  background: url(/icon/prev.png) no-repeat center;
  background-size: 10px 17px !important;
}
.confirmation .table-temp.passengers-info .icon,
.result .table-temp.passengers-info .icon {
  background-size: 17px 18px !important;
  background: url(/icon/passengers-info.png) no-repeat center, #fff;
}

.tickets .origin {
  background: url(/icon/airplan.png) no-repeat center;
  background-size: 20px 17px !important;
}
.tickets .info .i-content:first-child {
  border-radius: 0 13px 13px 0;
  border: 1px solid #dde2ee;
}
.tickets .info .i-content:last-child {
  border-radius: 13px 0 0 13px;
  border: 1px solid #dde2ee;
  border-right: none;
}
.tickets .price {
  font-size: 2em;
}
.tickets .empty {
  border: 1px dashed #989eb4;
}

@media only screen and (max-width: 991.99px) {
  .tickets > .t-content {
    padding-right: 0;
    padding-left: 0;
  }
}
@media only screen and (min-width: 992px) {
  .tickets > .t-content:first-child {
    padding-right: 0;
  }
  .tickets > .t-content:last-child {
    padding-left: 0;
  }
}
.result .notification .title {
  height: 40px;
  line-height: 40px;
  background: url(/icon/notification.png) no-repeat right center;
  background-size: 16px 19px !important;
  padding-right: 26px;
}
.result .notification .toggle {
  width: 55px;
  height: 30px;
  background: #f4f5fa;
  border-radius: 15px;
}
.result .notification .toggle::after {
  content: "";
  transition: 0.3s;
  position: absolute;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #fff;
}
.result .notification .toggle:not(.active)::after {
  right: 5px;
}
.result .notification .toggle.active {
  background: #244497;
}
.result .notification .toggle.active::after {
  right: 30px;
}
.result .navigation .nav-pills .nav-item {
  width: 33.33%;
}
.result .navigation .nav-pills .nav-link {
  background: #fff !important;
}
.result .navigation .nav-pills .nav-link.active {
  color: #fcb803 !important;
  border-bottom: 2px solid #fcb803;
}
.result .offered-ticket {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  padding-right: 35px !important;
  position: relative;
}
.result .offered-ticket .time > span {
  color: #f42b43 !important;
}
.result .offered-ticket .dots {
  height: 20px;
  background: url(/img/offered-bg.png) no-repeat center;
  background-size: 100% auto !important;
}
.result .offered-ticket .dots .status {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
  background: #a6a6a6;
}
.result .offered-ticket .price {
  background: #f2f6ff;
  color: #2449a0;
  padding: 5px 10px;
  font-size: 0.96em;
  border-radius: 15px 15px 0 15px;
}
.result .offered-ticket::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 93px;
  top: 50%;
  transform: translateY(-50%);
  right: -8px;
  background: url(/img/offer-label.png) no-repeat center;
  background-size: 100% 100% !important;
}
.result .restitution {
  color: #f74167 !important;
  background: url(/icon/toggle.png) no-repeat left center;
  background-size: 20px 20px !important;
  padding-left: 30px;
}
.result .pagination-btn {
  width: 40px;
  height: 40px;
  background-size: auto 50% !important;
}
.result .pagination-btn.next {
  background: url(/icon/next.png) no-repeat center;
}
.result .pagination-btn.prev {
  background: url(/icon/prev.png) no-repeat center;
}

@media only screen and (max-width: 991.99px) {
  .result .aside {
    padding-right: 0;
    padding-left: 0;
  }
}
@media only screen and (min-width: 992px) {
  .result .r-content > .aside:first-child {
    padding-right: 0;
  }
  .result .r-content > .aside:last-child {
    padding-left: 0;
  }
}
.g-footer .companies {
  background: url(/img/companies.png) no-repeat center;
  background-size: 100% auto !important;
  height: 100px;
}
.g-footer .tours h3 {
  color: #202020;
}
.g-footer .tours .t-link {
  text-decoration: none;
  color: #a6a6a6;
  transition: 0.3s;
}
.g-footer .tours .t-link:hover {
  color: #202020;
}
.g-footer .social {
  width: 240px;
}
.g-footer .social .s-link {
  width: 40px;
  height: 40px;
  background-size: 100% 100% !important;
}
.g-footer .social .s-link.telegram {
  background: url(/icon/twitter.png) no-repeat center;
}
.g-footer .social .s-link.youtube {
  background: url(/icon/youtube.png) no-repeat center;
}
.g-footer .social .s-link.linkedin {
  background: url(/icon/linkedin.png) no-repeat center;
}
.g-footer .social .s-link.facebook {
  background: url(/icon/facebook.png) no-repeat center;
}
.g-footer .social .s-link.twitter {
  background: url(/icon/twitter.png) no-repeat center;
}

/*# sourceMappingURL=main.css.map */
