.confirmation {
  .steps {
    .s-item {
      background: #f0f0f0;
      height: 50px;
      border-radius: 25px;
      padding: 5px;
      .num {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        line-height: 40px;
      }

      .s-text {
        color: #a6a6a6;
      }

      &.active {
        background: #224396;
        .num {
          color: #224396 !important;
        }

        .s-text {
          color: #fff;
        }
      }
    }
  }

  .warning {
    border: 1px solid $warning;
  }

  .table-temp {
    .header {
      .icon {
        width: 44px;
        height: 44px;
        border-radius: 17px;
        box-shadow: 8px 21px 30px 0 #dfe7f447;
      }

      .texts {
        width: calc(100% - 54px);
      }
    }

    .content {
      .title {
        width: 40px;
        height: 100%;
        .t-text {
          transform: rotate(90deg);
          color: $primary;
        }
      }
      .table-content {
        border: 1px solid #dde2ee;
        border-radius: 13px;
      }

      &:not(.requester) {
        .table-content {
          width: calc(100% - 40px);
        }
      }
    }

    &.ticket-info {
      .icon {
        background-size: 18px 17px !important;
        background: url(/icon/ticket-info.png) no-repeat center, #fff;
      }
    }

    &.requester {
      .icon {
        background-size: 15px 16px !important;
        background: url(/icon/person.png) no-repeat center, #fff;
      }
    }

    &.passengers-info {
      .icon {
        background-size: 17px 18px !important;
        background: url(/icon/passengers-info.png) no-repeat center, #fff;
      }
    }
  }

  .tickets {
    .origin {
      background: url(/icon/airplan.png) no-repeat center;
      background-size: 20px 17px !important;
    }

    .info {
      .i-content {
        &:first-child {
          border-radius: 0 13px 13px 0;
          border: 1px solid #dde2ee;
        }
        &:last-child {
          border-radius: 13px 0 0 13px;
          border: 1px solid #dde2ee;
          border-right: none;
        }
      }
    }

    .price {
      font-size: 2em;
    }
  }
}

@media only screen and (max-width: 991.99px) {
  .confirmation {
    .tickets {
      & > .t-content {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .confirmation {
    .tickets {
      & > .t-content {
        &:first-child {
          padding-right: 0;
        }

        &:last-child {
          padding-left: 0;
        }
      }
    }
  }
}
