.result {
  .notification {
    .title {
      height: 40px;
      line-height: 40px;
      background: url(/icon/notification.png) no-repeat right center;
      background-size: 16px 19px !important;
      padding-right: 26px;
    }

    .toggle {
      width: 55px;
      height: 30px;
      background: #f4f5fa;
      border-radius: 15px;
      &::after {
        content: "";
        transition: 0.3s;
        position: absolute;
        top: 5px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #fff;
      }

      &:not(.active)::after {
        right: 5px;
      }

      &.active {
        background: $primary;
        &::after {
          right: 30px;
        }
      }
    }
  }

  .navigation {
    .nav-pills {
      .nav-item {
        width: 33.33%;
      }
      .nav-link {
        background: #fff !important;
        &.active {
          color: $warning !important;
          border-bottom: 2px solid $warning;
        }
      }
    }
  }

  .offered-ticket {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    padding-right: 35px !important;
    position: relative;
    .time > span {
      color: #f42b43 !important;
    }

    .dots {
      height: 20px;
      background: url(/img/offered-bg.png) no-repeat center;
      background-size: 100% auto !important;

      .status {
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 0.8em;
        background: #a6a6a6;
      }
    }

    .price {
      background: #f2f6ff;
      color: #2449a0;
      padding: 5px 10px;
      font-size: 0.96em;
      border-radius: 15px 15px 0 15px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 36px;
      height: 93px;
      top: 50%;
      transform: translateY(-50%);
      right: -8px;
      background: url(/img/offer-label.png) no-repeat center;
      background-size: 100% 100% !important;
    }
  }

  .restitution {
    color: #f74167 !important;
    background: url(/icon/toggle.png) no-repeat left center;
    background-size: 20px 20px !important;
    padding-left: 30px;
  }

  .c-restitution {
    .percent {
      background: #fddadf;
      color: #f74167;
      border-radius: 20px 20px 0 20px !important;
    }
  }

  .pagination-btn {
    width: 40px;
    height: 40px;
    background-size: auto 50% !important;
    &.next {
      background: url(/icon/next.png) no-repeat center;
    }

    &.prev {
      background: url(/icon/prev.png) no-repeat center;
    }
  }
}

@media only screen and (max-width: 991.99px) {
  .result {
    .aside {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media only screen and (min-width: 992px) {
  .result {
    .r-content {
      & > .aside {
        &:first-child {
          padding-right: 0;
        }
        &:last-child {
          padding-left: 0;
        }
      }
    }
  }
}
